#data {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #data td, #data th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #data tr:nth-child(even){background-color: #f2f2f2;}
  
  #headerRow {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #af4c4c;
    color: white;
  }

  #summTab{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #af4c4c;
    color: white;
  }
h1,h3,h4{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  text-align: center;
}